antlr4-python3-runtime==4.13.2
attrs==25.4.0
bitstruct==8.21.0
cattrs==25.3.0
cdm-devkit==0.2.2.post0
colorama==0.4.6
exceptiongroup==1.3.0
lsprotocol==2025.0.0
pygls==2.0.0
typing_extensions==4.15.0
websocket-server==0.6.4
